{%- if enabled -%}
  <span class="comparison-icon comparison-icon--yes" aria-label="Included">✓</span>
{%- else -%}
  <span class="comparison-icon comparison-icon--no" aria-label="Not included">✕</span>
{%- endif -%}
